<p-dialog
  [(visible)]="cerrarDialogoLogin"
  [closable]="true"
  [closeOnEscape]="true"
  (onHide)="cerrarDialogo()"
  [modal]="true"
  [maximizable]="true"
  header="Accede con tu cuenta"
  class="p-fluid"
>

  <div class="formgrid grid">
    <div class="field col-12">
      <div *ngIf="credencialesNoValidas" class="p-message p-message-error p-3">
        <span>El usuario y/o contraseña no existe</span>
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <div class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input (keyup.enter)="login()" pInputText type="text" placeholder="Correo"
               [(ngModel)]="usuarioCorreo"/>
      </div>
    </div>
    <div class="field col-12 md:col-6">
      <div class="p-input-icon-left">
<!--        <i class="pi pi-key"></i>-->
<!--        <input (keyup.enter)="login()" pPassword [feedback]="false" type="password" placeholder="Contraseña" [(ngModel)]="usuarioClave"/>-->
        <p-password placeholder="Contraseña" (keyup.enter)="login()" [feedback]="false" [(ngModel)]="usuarioClave" [toggleMask]="true"></p-password>
      </div>
    </div>
    <div class="field col-6">
      <p-button [loading]="procesoLogin" (click)="login()" label="Iniciar Sesión"></p-button>
    </div>
    <div class="field col-6">
      <p-button (click)="cerrarDialogo()" label="Salir"></p-button>
    </div>
      <span>¿No tienes una cuenta? <a href="auth/registro"> Regístrate</a></span>
  </div>
</p-dialog>
