<p-menubar class="nav" [model]="items">
  <!--Logo de RoomSwapp-->
  <ng-template pTemplate="start">
    <img src="./assets/img/logo.png" class="logo" alt="Logotipo de RoomSwapp"  />
  </ng-template>

  <!--Opciones de navegación-->
  <ng-template pTemplate="end">
        <div *ngIf="usuarioActivo.usuarioActivo?.nombre != '' && usuarioActivo.usuarioActivo?.nombre != undefined">
          <p-tag styleClass="p-2" [rounded]="true">{{"Bienvenido, " + this.usuarioActivo.usuarioActivo?.nombre}}</p-tag>
        </div>
  </ng-template>
</p-menubar>

