<p-card styleClass="shadow-8 bg-cyan-500" >
  <div>
    <h1>Crear un Favor</h1>
    <form [formGroup]="formFavor" (ngSubmit)="validarFavor()" class="mt-4">
      <input type="hidden" formControlName="id"/>
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <span class="p-float-label m-2">
            <input pInputText id="foto" type="text" class="w-full" aria-describedby="foto-ayuda" formControlName="foto">
            <label htmlFor="foto">Foto</label>
<!--          <small style="color: #e24c4c" id="nombre-ayuda">Debe tener entre 2 y 20 caracteres</small>-->
          </span>


        </div>
        <div class="field col-12 md:col-6">
          <div class="flex flex-column gap-2">
            <label>
            <p-checkbox  formControlName="fumar" [binary]="true" inputId="fumar"></p-checkbox>
            <span> Fumar</span>
            </label>
            <label>
              <p-checkbox formControlName="internet" [binary]="true" inputId="internet"></p-checkbox>
              <span> Internet</span>
            </label>
            <label>
              <p-checkbox formControlName="mascota" [binary]="true" inputId="mascota"></p-checkbox>
              <span> Mascota</span>
            </label>
            <label>
              <p-checkbox formControlName="climatizacion" [binary]="true" inputId="climatizacion"></p-checkbox>
              <span> Climatización</span>
            </label>
            <label>
              <p-checkbox formControlName="adaptacionMovilidadReducida" [binary]="true" inputId="adaptacionMovilidadReducida"></p-checkbox>
              <span> Adaptación movilidad reducida</span>
            </label>
          </div>
        </div>
        <div class="flex justify-content-end mb-2 p-3 gap-3">
          <p-button
            icon="pi pi-eye"
            label="Verificar"
          ></p-button>
          <p-button
            icon="pi pi-save"
            label="Guardar"
            type="submit"
          ></p-button>
        </div>
      </div>
    </form>

  </div>
  <div style="background-color: darkseagreen">
    <p>{{formFavor.value | json}}</p>
  </div>
</p-card>
