@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .flex > div {
    margin-bottom: 1rem;
  }

  .w-12rem {
    width: 100%;
    max-width: 6rem;
  }

}
.color {
  background-color: var(--surface-a);
}

.margenes {
  margin-top: 11rem;
  margin-left: 7rem;
  margin-right: 7rem;
}
