<div class="grid margenes">

  <!--Imagen de ver-->
    <div routerLink="filtros" class="col-12 sm:col-6">
      <div pRipple class="shadow-5 border-round py-5 px-4 text-center color">
        <img class="w-5rem md:w-10rem lg:w-15rem" src="assets/img/ver.png" alt="Imagen para acceder a ver favores">
        <span class="block text-xl md:text-2xl lg:text-4xl text-overflow-clip mt-4" title="Pulse aquí para ver favores">
          <strong>Ver</strong> favores
        </span>
      </div>
    </div>

  <!--Imagen de agregar-->
    <div routerLink="insertar-favor" class="col-12 sm:col-6">
      <div pRipple class="shadow-5 border-round py-5 px-4 text-center color">
        <img class="w-5rem md:w-10rem lg:w-15rem" src="assets/img/agregar.png"
             alt="Imagen para acceder a agregar favor">
        <span class="block text-xl md:text-2xl lg:text-4xl text-overflow-clip mt-4"
              title="Pulse aquí para publicar favores">
          <strong>Publicar</strong> favores
        </span>
      </div>
  </div>
</div>
