@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .grid > div {
    flex: 0 0 auto;
    margin: 10px;
  }
  .flex {
    flex-direction: column;
  }

  .flex > div {
    margin-bottom: 1rem;
  }

  .w-12rem {
    width: 100%;
    max-width: 6rem;
  }

}
