.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--surface-a);
}

/* Ocultar en pantallas pequeñas */
@media (min-width: 120px) and (max-width: 767px)  {
  .hidden-sm {
    display: none;
  }
}

/* Ocultar en pantallas grandes */
@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}

/* Ocultar en pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}







