.footer {
  position: fixed;
  width: calc(100% - 1rem);
  bottom: 0;
  margin: .1rem;
  background-color: var(--surface-a);
}

@media (max-width: 850px){

}
@media (min-width: 851px){

}




/* Ocultar en pantallas pequeñas */
/*@media (min-width: 120px) and (max-width: 767px)  {

}
+/
/* Ocultar en pantallas grandes */
/*
@media (min-width: 1200px) {

}
*/
/* Ocultar en pantallas medianas */
/*
@media (min-width: 768px) and (max-width: 1199px) {

}

*/





