<!--Botón de atrezzo para prueba-->
<p-button label="Darse de alta" (click)="abrirDialogo()"
          styleClass="p-button-text"></p-button>
<p-dialog [(visible)]="registro" [modal]="true" [resizable]="true" [maximizable]="true"
          header="Registrarse Usuario en RoomSwapp">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="nombre">Nombre:</label>
      <input id="nombre" placeholder="Nombre" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
      <label for="apellidos1">Apellido 1:</label>
      <input id="apellidos1" placeholder="Apellido primero" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
      <label for="apellidos2">Apellido 2:</label>
      <input id="apellidos2" placeholder="Apellido segundo" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
      <label for="telefono">Teléfono:</label>
      <input id="telefono" placeholder="Número Tlfn" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input id="fechaNacimiento" placeholder="Nombre" type="datetime-local" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12">
      <label for="address">Dirección:</label>
      <textarea id="address" placeholder="Calle" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
    </div>
    <div class="field col-12 md:col-6">
          <label>Provincia:</label>
          <p-dropdown [options]="provincias" optionLabel="nombre" optionValue="id"></p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
      <label for="email">Email:</label>
      <input id="email" placeholder="Correo electrónico" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-12 md:col-6">
      <label>Clave:</label>
        <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
      <br/>
      <small id="clave-help">Debe tener al menos 8 caracteres, una mayúscula y un símbolo.</small>
    </div>

  </div>
      <div class="">
      <p-button class="px-3 py-2 text-base cursor-pointer transition-all transition-duration-200" (click)="cerrarDialogo()" label="Aceptar"></p-button>
    </div>
</p-dialog>

