<p-card class="m-3">
    <div *ngIf="pruebasDesarrollo" style="background-color: darkseagreen">
      <h2>Aquí van las pruebas</h2>
      <p>Formulario: {{formRegistroUsuario.value | json}}</p>
      <p>Provincia elegida: {{idProvinciaElegida}}</p>
      <p>ProvinciaSelect Malaga: {{provincias[29] | json}}</p>
    </div>
  <h2>Registrar Usuario</h2>
  <form [formGroup]="formRegistroUsuario" (ngSubmit)="validarUsuario()" class="mt-4">
    <input type="hidden" formControlName="id"/>
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <p class="bg-gray-200 font-bold p-2 border-round-md"><i class="pi pi-user"></i> Datos personales</p>
        <span class="p-float-label mt-4">
          <input pInputText id="nombre" type="text" class="w-7"
                 formControlName="nombre">
          <label htmlFor="nombre">Nombre</label>
        </span>
        <span class="p-float-label mt-4">
          <input pInputText id="primerAp" type="text" class="w-7" formControlName="apellido1"/>
          <label htmlFor="primerAp">Primer Apellido</label>
        </span>
        <span class="p-float-label mt-4">
           <input pInputText id="segundoAp" type="text"  class="w-7" formControlName="apellido2"/>
           <label htmlFor="segundoAp">Segundo Apellido</label>
        </span>
        <span class="p-float-label mt-4">
          <p-calendar id="fechaDeNacimiento" styleClass="w-7" [showIcon]="true" formControlName="fechaNacimiento"></p-calendar>
          <label htmlFor="fechaDeNacimiento">Fecha de nacimiento</label>
        </span>
        <span class="p-float-label mt-4">
        <p-dropdown placeholder="Elija una provincia" styleClass="w-7" inputId="provincias" appendTo="body" formControlName="idProvincia" optionValue="id"
                    [(ngModel)]="idProvinciaElegida" [options]="provincias" optionLabel="nombre"></p-dropdown>
        </span>
        <input type="hidden" formControlName="idDireccion"/>
        <span class="p-float-label mt-4">
          <input pInputText id="direccion" type="text" class="w-7" formControlName="direccion">
          <label htmlFor="direccion">Dirección completa</label>
        </span>
      </div>

      <div class="field col-12 md:col-6">
        <p class="bg-gray-200 font-bold p-2 border-round-md"><i class="pi pi-phone"></i> Datos de contactos</p>

        <span class="p-float-label mt-4">
          <input pInputText id="email" type="email" class="w-7" formControlName="email">
          <label htmlFor="email">Email</label>
        </span>
        <span class="p-float-label mt-4">
          <input pInputText id="telefono" type="tel" maxlength="9" class="w-7" formControlName="telefono">
          <label htmlFor="telefono">Teléfono de contacto</label>
        </span>
        <span class="p-float-label mt-4">
          <p-password placeholder="Contraseña" [feedback]="false" [(ngModel)]="clave" [toggleMask]="true" formControlName="clave"></p-password>
          <label htmlFor="contraseña">Contraseña</label>
        </span>
        <span class="p-float-label mt-4">
          <p-password  placeholder="Contraseña" [feedback]="false" [(ngModel)]="usuarioClave2" [toggleMask]="true" formControlName="usuarioClave2"></p-password>
          <label htmlFor="contraseña">Contraseña</label>
        </span>
      </div>

      <div class="flex justify-content-end mb-2 p-3 gap-2">
        <p-toast position="top-center"></p-toast>
        <p-button

          icon="pi pi-sign-out"
          label="Salir"
        ></p-button>
        <p-button

          icon="pi pi-trash"
          label="Borrar"
        ></p-button>
        <p-button
          icon="pi pi-save"
          label="Guardar"
          type="submit"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
